MVC5App/MVC5App.PL/Connected Services/CountryService/MVC5App.Core.DTOs.Concrete.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MVC5App.Core.DTOs.Concrete" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MVC5App.Core.DTOs.Concrete" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountryListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryListDto" nillable="true" type="tns:CountryListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryListDto" nillable="true" type="tns:ArrayOfCountryListDto" />
  <xs:complexType name="CountryListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryListDto" nillable="true" type="tns:CountryListDto" />
  <xs:complexType name="CountryAddDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryAddDto" nillable="true" type="tns:CountryAddDto" />
  <xs:complexType name="CountryInfoByServiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryInfoByServiceDto" nillable="true" type="tns:CountryInfoByServiceDto" />
</xs:schema>