MVC5App/MVC5App.PL/Connected Services/CountryService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CountryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MVC5App.Core.DTOs.Concrete" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICountryService_GetListOfCountryNamesByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfCountryNamesByCode" />
  </wsdl:message>
  <wsdl:message name="ICountryService_GetListOfCountryNamesByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfCountryNamesByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICountryService_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="ICountryService_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICountryService_GetCountryInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryInfoByName" />
  </wsdl:message>
  <wsdl:message name="ICountryService_GetCountryInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryInfoByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICountryService">
    <wsdl:operation name="GetListOfCountryNamesByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/GetListOfCountryNamesByCode" message="tns:ICountryService_GetListOfCountryNamesByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/GetListOfCountryNamesByCodeResponse" message="tns:ICountryService_GetListOfCountryNamesByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/AddCountry" message="tns:ICountryService_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/AddCountryResponse" message="tns:ICountryService_AddCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryInfoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICountryService/GetCountryInfoByName" message="tns:ICountryService_GetCountryInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICountryService/GetCountryInfoByNameResponse" message="tns:ICountryService_GetCountryInfoByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICountryService" type="tns:ICountryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfCountryNamesByCode">
      <soap:operation soapAction="http://tempuri.org/ICountryService/GetListOfCountryNamesByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <soap:operation soapAction="http://tempuri.org/ICountryService/AddCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryInfoByName">
      <soap:operation soapAction="http://tempuri.org/ICountryService/GetCountryInfoByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountryService">
    <wsdl:port name="BasicHttpBinding_ICountryService" binding="tns:BasicHttpBinding_ICountryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MVC5App.BLL/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>